.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  width: 100%;
  height: 100vh;
  border: 2px green solid;
}

.left-sidebar {
  height: 100%;
  flex-grow: 1;
  border-right: #ddd 1px solid
}

.main-content {
  height: 100%;
  flex-grow: 4;
}

.right-sidebar {
  width: 30vw;
  height: 100%;
  flex-grow: 1;
  padding: 2px;
}

.red-border {
  border: 1px red dashed;
}
