.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  width: 100%;
  height: calc(100vh - 4rem);
  /* border: 2px green solid; */
}

.left-sidebar {background-color: #ddd;
  height: 100%;
  border-right: #ddd 1px solid;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;

  overflow-y: scroll;

}

.main-content {
  background-color: #eee;
  width: 100%;
  height: 100%;
  padding-top: 0.75em;
  padding-left: 1.667em;
  padding-right: 1.667em;

  overflow-y: scroll;
  overflow-x: hidden;
}

.right-sidebar {
  background-color: #eee; 
  height: calc(100%);
  width: 100%;
  padding: 2px;

  display: flex;
  flex-direction: column;
  /* flex-shrink: 2; */
  align-items: center;
  justify-content: center;
  /* border-left: #ddd 1px solid; */
}

.red-border {
  /* border: 1px red dashed; */
}
