.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  width: 100%;
  height: 100vh;
  border: 2px green solid;
}

.left-sidebar {
  height: 100%;
  flex-grow: 1;

}

.main-content {
  flex-grow: 4;
}

.right-sidebar {
  flex-grow: 1;
}

.red-border {
  border: 1px red dashed;
}
